.container {
  padding-top: 8px;
  margin-right: 2px;
  .reset {
    cursor: pointer;

    width: 36px !important;
    height: 34px !important;
    margin: 0;
    padding: 0;

    border: 1px solid #E8E8E8 !important;
    border-radius: 4px !important;
  }
}

